:root {
	--Neutral-900: #121212;
	--Neutral800: #262626;
	--Neutral500: #717178;
	--Neutral400: #949497;
	--Neutral0: #ffffff;
	--Blue600: #177dff;
	--Blue400: #4ca6ff;
	--Red500: #d64d5b;
	--Green500: #4dd67b;
	--Yellow400: #f4dc73;
}
